---
title: Frequently Asked Questions
kind: article
categories:
  - wiki.template
---

%p
  This page contains frequently asked questions about this wiki.

%ul
  %li
    %b
      Why did you build this/are you building this?
    %p
      Because it is fun to do and I have nothing to do in my free time. No, I'm
      joking, I have things to do. But I like doing it, so why not?

  %li
    %b
      How can I build this wiki?
    %p
      By simply installing the dependencies via bundle and executing nanoc.

  %li
    %b
      Can I use my own stylesheet/themes/etc?
    %p
      Yes you can. There is currently no note about that in the license file, but:
      %ul
        %li
          The code in this repository is licensed under GPLv2
        %li
          The content in this repository is licensed under the GPLv2 as well, but
          I may relicense it with some documentation license or even creative
          commons. If you have any concerns when using this, feel free to contact
          me directly.

