---
title: How to contribute
kind: article
categories:
  - wiki.template
---

%p
  How to contribute to this wiki? Well, that's rather simple. First you go to
  my github account, to the repository:

  %a{href: "github.com/matthiasbeyer/wiki.template"}github.com/matthiasbeyer/wiki.template

  and fork the repository. Then you can do you modifications.

%p
  If you want me to merge your work in, you have to take care of several points:

  %ul
    %li
      Make sure your patches are not made on the master branch. I won't pull
      master branches, sorry.
    %li
      Make sure your commit messages look good. I'm kind of a fetishist here.
      Everything has to be clean.
    %li
      Explain what you have done in your pull request message. I don't want to
      read your whole history just to get a clue how and why you have done your
      patches

%p
  After these steps, there shouldn't be a problem for a nice discussion about
  your patches and if they look good, I will merge them in if I find them
  appropriate.

