#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'compass.rb'

compile '/assets/stylesheets/*' do
  filter :sass, Compass.sass_engine_options.merge(:syntax => item[:extension].to_sym)
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.haml' do
  filter :haml
  layout '/default.*'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
#compile '/**/*.md' do
#  filter :kramdown
#  layout '/default.*'
#end

compile '/**/*' do
end

route '/assets/images/*' do
  #ignore images for now
end

route '/assets/javascripts/*' do
  #ignore javascripts for now
end

route '/assets/stylesheets/*' do
  # flatten assets to assets/ similar to rails
  '/assets/' + File.basename(item.identifier) + '.css'
end

route '/**/*.{haml,html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

route '/**/*' do
  item.identifier.to_s
end

layout '/**/*', :haml, :format => :html5
