%h1 Categories

%hr

- n = (@item[:categories].length / 3.0).ceil
- @item[:categories].each_slice n do |cats|
  .large-4.columns
    %ul
      - link_categories(cats).each do |link|
        %li= link

