!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      A Brand new nanoc site -
      = item[:title]
    %link{:rel => "stylesheet", :href => "/assets/app.scss.css" }
  %body
    .large-2.columns
      .column
        .large-2.rows
          Placeholder for image
        .large-10.rows
          %ul.side-nav
            %li
              %a{:href=>'#'}Home
            %li
              %a{:href=>'#'}Other Home
    .large-10.columns
      = yield

    %small.footer
      .large-2.columns
        .column
          %p
            wiki.template (C) 2015 Matthias Beyer
      .large-10.columns
        - unless @item[:hide_categories]
          %p
            Categories:
            = category_links_for_item item

