!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      A Brand new nanoc site -
      = item[:title]
    %link{:rel => "stylesheet", :href => "/assets/app.scss.css" }
  %body
    .large-2.columns
      .column
        .large-2.rows
          Placeholder for image
        .large-10.rows
          %ul.side-nav
            %li
              %a{:href=>'#'}Home
            %li
              %a{:href=>'#'}Other Home
    .large-10.columns
      = yield

